{% block header %}
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="pl" />
<meta name="Author" content="{{ author }}" />
<title></title>
{% for path in js %}
    <script type="text/javascript" src="{{ path }}"></script> 
{% endfor %}

{%for path in style %}
    <link rel="stylesheet"  href="{{ path }}" media="screen">
{% endfor %}
</head>
{% endblock %}